<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-primary">{{sel1.value}} to {{sel2.value}} Converter</h4>
            <div class="input-group mb-3">
                <input class="form-control" type="number" #inp1 [(ngModel)]="one"
                    (input)="showOne(inp1.value, sel1,sel2)" placeholder="0" />
                <select class="form-control bg-primary text-light " #sel1 (change)="showTwo( inp2.value, sel1,sel2)">
                    <option class="input-group-text" *ngIf="sel2?.value!='USD'" value="USD"> USD</option>
                    <option class="input-group-text" *ngIf="sel2?.value!='EUR'" value="EUR">EUR</option>
                    <option class="input-group-text" *ngIf="sel2?.value!='UAH'" value="UAH"> UAH</option>

                </select>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-primary">{{sel2.value}} to {{sel1.value}} Converter</h4>
            <div class="input-group mb-3">
                <input class="form-control" type="number" #inp2 [(ngModel)]="two"
                    (input)="showTwo( inp2.value, sel1,sel2)" placeholder="0" />
                <select class="form-control bg-primary text-light" #sel2 (change)="showOne(inp1.value,  sel1,sel2)">
                    <option class="input-group-text" *ngIf="sel1?.value!='USD'" value="USD">USD</option>
                    <option class="input-group-text" *ngIf="sel1?.value!='EUR'" value="EUR">EUR</option>
                    <option class="input-group-text" *ngIf="sel1?.value!='UAH'" value="UAH">UAH</option>
                </select>

            </div>
        </div>
    </div>
</div>